body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Border {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(123, 119, 252);
  border-image: initial;
  border-radius: 10px;
}

h1{
  text-align: center;
  color: rgb(123, 119, 252);
}